body,
html,
#root {
  height: 100%;
  margin: 0;
}

.app-container {
  height: 100vh;
  display: flex;
}

.blue-half {
  flex: 0.25; 
  background-color: blue;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
}

.header {
  color: white;
  padding: 20px 0; 
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.oval-button {
  margin: 10px; 
  padding: 10px 20px;
  border-radius: 25px; 
  background-color: blue;
  color: white;
  border: 0.5px solid white;
  cursor: pointer;
  outline: none;
}

.oval-button.active {
  background-color: white;
  color: blue;
}

.white-half {
  flex: 1;
  background-color: white;
  padding: 20px; 
}
